<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Boneyard Burger</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger_types.js"></script>
	</body>
</html>